* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration:none;
}

li{
    list-style: none;
}

body{
    background: rgb(255, 255, 255);
}

/* Dashboard */
#dashboard-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: rgb(233, 219, 219);
    z-index: 1000; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#dashboard-bar .top-right {
    font-size: 24px;
    font-weight: 500;
    height: 54px;
    display: flex;
    align-items: center;
    color: black
}

#dashboard-bar .top-right .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#dashboard-bar .side-menu {
    width: 100%;
    margin-top: 50px;
}

#dashboard-bar .side-menu li {
    height: 46px;
    background: transparent;
    margin-left: 6px;
    border-radius: 40px 0 0 40px;
    padding: 4px;
}

#dashboard-bar .side-menu li.lista{
    background: lavender;
    position: relative;
}

#dashboard-bar .side-menu li a {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 18px;
    color: blue;
}
#dashboard-bar .side-menu li a:hover{
    color: aqua;
}

#dashboard-bar .side-menu li a .bx {
    min-width: 40px;
    display: flex;
    justify-content: center;
    font-size: 18px;

}
/* Dashboard */ 


